{% extends "./complementos/perfil.html" %} {% load staticfiles %} {% block css %}


{% endblock css %} {% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Notas</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Cree y guarde una Nota</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <!--<a href="" class="btn btn-primary">Cargar</a>-->
        </div>
    </div>
</div>
<div class="row" id="app">
    <nota-lista></nota-lista>
</div>
{% endblock %} {% block js %}
<!-- Archivo Vue -->
<script src="{% static 'apps-compiler/nota.js' %}"></script>
<script>

</script>

{% endblock js %}


