{% extends "./complementos/perfil.html" %} {% block css %} {% endblock css %} {% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <ol class="breadcrumb">
           
        </ol>
    </div>
    <div class="col-sm-8">
        <div>
            <h3 class="font-bold">Sistemas Sig - SigClínica</h3>
            <img  class="img-thumbnail" alt="image"height="402" width="402" src="/media/logos/fondo.gif" />
        </div>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="middle-box text-center animated tada">
        
        <div class="error-desc">
          
        </div>
    </div>
</div>
{% endblock %} {% block js %} {% endblock js %}