{% extends "./complementos/perfil.html" %} {% block css %} {% endblock css %} {% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <ol class="breadcrumb">
           
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
        </div>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="middle-box text-center animated tada">
        <h3 class="font-bold">Usted no se encuentra dado de alta en el sistema como Empleado ( Contacte con el administrador )</h3>
        <div class="error-desc">
        <img alt="image" height="396" width="396" src="/media/logos/noempleado.jpg" />
        </div>
    </div>
</div>
{% endblock %} {% block js %} {% endblock js %}